<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Type of account</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="type"
           matInput
           [formControl]="firstControle"
           [matAutocomplete]="auto"
           #type>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <input type="email" matInput [formControl]="descriptionControle" placeholder="Write your description" #description>
  </mat-form-field>
</form>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Currency</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="type"
           matInput
           [formControl]="currencyControle"
           [matAutocomplete]="auto2"
           #currency>
    <mat-autocomplete #auto2="matAutocomplete">
      <mat-option *ngFor="let option of currencyOptions" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<div class="button_add">
  <button class="income" mat-button mat-dialog-close (click)="createAccount(type.value, description.value, currency.value)">Create</button>
</div>
