.example-form-field {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.content_wrapper {
  min-height: 500px;
  display: flex;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.mat-tab-group {
  padding: 50px 0px;
}

button {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

table {
  width: 100%;
}
