<div class="wrapper">
  <div class="acc">
    {{accData.alias}} : {{accData.moneyBalance}} {{currency}}
  </div>
  <app-pie-chart></app-pie-chart>
  <div class="income-expense">
    <div class="today-income">
      +{{user.income}}
    </div>
    <div class="today-expense">
      -{{user.expense}}
    </div>
  </div>
  <div class="buttons">
    <button class="income" (click)="openDialogIncome()">Add income</button>
    <button class="transfer" (click)="openDialogTransaction()">Transfer</button>
    <button class="expense" (click)="openDialogExpense()">Add expense</button>
  </div>
</div>
